services:
  postgres:
    image: 'postgres:16'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
  pgweb:
    image: 'sosedoff/pgweb:latest'
    environment:
      - 'DATABASE_URL=postgres://myuser:secret@postgres:5432/mydatabase?sslmode=disable'
    ports:
      - '8081:8081'
    depends_on:
      - 'postgres'