<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="user-info">
        <h1>User Information</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.role}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <p>Yay user</p>
    </div>
</body>
</html>