name: Test CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'
      
      - name: Make Maven wrapper executable
        run: chmod +x ./mvnw
      
      - name: Run JwtServiceTest and AuthControllerTest
        run: ./mvnw test -Dtest=JwtServiceTest,AuthControllerTest -DskipIntegrationTests=true
